
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev, .slick-next {
  top: 103% !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 0 !important;
}

.slick-prev {
  left: 5px !important;
}

.slick-next {
  right: -20px !important;
}

.slick-prev:before,
.slick-next:before {
  opacity: unset !important;
  color: #00000040 !important;
  font-size: 50px !important;
  content: unset !important;
}
